
<div class="login-page" style="height: 50vh;">
    <div class="login-logo">
        <b>Login</b>
    </div>

    <div class="card">
        <div class="card-body login-card-body">
            @if(ViewBag.ActionSuccess!=null)
            {
                <div class="alert alert-success" role="alert">
                    สมัครสมาชิกเรียบร้อยสามารถเข้าสู่ระบบด้วย User & Password
                </div>
            }
            <form method="post" action="/user/login">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                        <a href="/user/register">สมัครสมาชิก</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>